.searchForm {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 20px;
}
.searchFormBtn {
  display: block;
  width: 120px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  background-color: rgb(210, 205, 211);
  box-shadow: 3px 3px 3px rgba(32, 33, 23, 0.5);
  border: 1px solid #a4a1a1;
  border-radius: 2px;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: rgb(12, 10, 10);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchFormBtn:hover {
  background-color: rgb(185, 182, 187);
  box-shadow: none;
}

.searchFormBtnInput {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 4px;
  background-color: rgb(244, 241, 244);
  box-shadow: 3px 3px 3px rgba(32, 33, 23, 0.5);
  border: 1px solid #a4a1a1;

  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: rgb(12, 10, 10);
}
